extends ./layout

block title  
	Title

block content
	link(href='/css/entries.css', rel='stylesheet', type='text/css')
	script.
		window.app.device.init();
		let deviceEntries = !{JSON.stringify(deviceEntries)};
	.entries
		table(class='table-style-three')
			thead
				tr
					td Datum
					td Sensor
					td Severity
					td Value
			tbody
				each deviceEntry in deviceEntries
					tr
						td #{deviceEntry.date}
						td #{deviceEntry.sensor.name}
						td #{deviceEntry.severity}
						td #{deviceEntry.value}
	.home
		label
			input(type="checkbox" id='presenceStatus' name='home' checked=presenceStatus == 'HOME')
			= 'Home'
