extends ./layout

mixin tempHumiditySensor(sensor) 
	.sensor(id=sensor.id)
		h3= sensor.name 
			.temperature
				.gauge(id=sensor.gauges[0].id)
				.lineChart(id=sensor.lineCharts[0].id)
			.humidity
				.gauge(id=sensor.gauges[1].id)
				.lineChart(id=sensor.lineCharts[1].id)

block title  
	Title

block content
	script.
		google.charts.load('current', {'packages':['gauge', 'line', 'corechart']});
		let sensors = !{JSON.stringify(sensors)};
		window.app.gauge.init(sensors);
		window.app.page.init(sensors);
		window.app.lineChart.init();

	each sensor in sensors
		if sensor.type == 'TEMP_HUMIDITY'
			+tempHumiditySensor(sensor)